[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.AuroraPhotoEditor
Exec=/usr/bin/ru.template.AuroraPhotoEditor
Name=PhotoEditor
Name[ru]=Редактор фото

[X-Application]
Permissions=RemovableMedia;Pictures;MediaIndexing
OrganizationName=ru.template
ApplicationName=AuroraPhotoEditor
ExecDBus=/usr/bin/ru.template.AuroraPhotoEditor
